html {
    width: 100%;
    height: 100%;
}

body {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Inter';
    text-align: center;
    width: 100%;
    height: 100%;
}

button {
    all: unset;
    cursor: pointer;
}

p {
    all: unset;
}

.material-symbols-rounded {
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24
}

span.size-42 {
    font-size: 42px;
    font-variation-settings: 'OPSZ' 24;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: #212A3E;
    overflow: hidden;
}

.header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 66px;
    background-color: #212A3E;
    overflow: hidden;
    z-index: 1;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.menu-button {
    margin-left: 12px;
    color: #9BA4B5;
}

.menu-button:hover {
    scale: 1.1;
}

.content {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    height: calc(100% - 66px - 66px);
    background-color: #212A3E;
    overflow-x: hidden;
    overflow-y: auto;
}

.content-text {
    margin-left: 24px;
    margin-right: 24px;
    margin-top: 36px;
    margin-bottom: 36px;
    font-size: 16px;
    color: #F1F6F9;
}

.button-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 24px;
    flex-wrap: wrap;
    margin-left: 24px;
    margin-right: 24px;
    margin-top: 36px;
    margin-bottom: 36px;
}

.select-button {
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 12px;
    padding-bottom: 12px;
    border-radius: 16px;
    color: #F1F6F9;
    background-color: #394867;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    font-size: 20px;
    font-weight: 500;
}

.select-button:hover {
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25) inset;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 66px;
    background-color: #212A3E;
    overflow: hidden;
    z-index: 1;
    box-shadow: 0px -4px 4px rgba(0, 0, 0, 0.25);
}

.footer-button {
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 12px;
    padding-bottom: 12px;
    border-radius: 16px;
    color: #212A3E;
    font-size: 16px;
    font-weight: 700;
    background-color: #9BA4B5;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
}

.footer-button:hover {
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25) inset;
}