<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>CryptoAI</title>
        <script src="static/charts.js"></script>
        <link rel="stylesheet" href="static/charts.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inter">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200">
    </head>
    <body>
        <div class="main" id="main">
            <div class="header" id="header">
                <button class="menu-button" id="menu-button" onclick="menu()">
                    <span class="material-symbols-rounded size-42">menu</span>
                </button>
            </div>
            <div class="content" id="content">
                <!--<p class="content-text" id="start-text">Start an evaluation by clicking on Select.</p>-->
                <div class="button-container" id="button-container-coin">
                    <button class="select-button" id="btc-button" onclick="coin('btc')">BTC</button>
                    <button class="select-button" id="btc-button" onclick="coin('btc')">ETH</button>
                    <button class="select-button" id="btc-button" onclick="coin('btc')">BNB</button>
                </div>
            </div>
            <div class="footer" id="footer">
                <button class="footer-button" id="start-evaluation-button" onclick="start_evaluation()">Select</button>
            </div>
        </div>
    </body>
</html>