<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/static/home.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
        <script>
            function colorchange() {
                var btc_text = document.getElementById("btc").innerHTML;
                if (btc_text == "Sell") {
                   document.getElementById("btc").style.color = "rgb(232, 14, 53)";
                } else if (btc_text == "Buy") {
                    document.getElementById("btc").style.color = "rgb(57, 238, 140)";
                }

                var eth_text = document.getElementById("eth").innerHTML;
                if (eth_text == "Sell") {
                   document.getElementById("eth").style.color = "rgb(232, 14, 53)";
                } else if (eth_text == "Buy") {
                    document.getElementById("eth").style.color = "rgb(57, 238, 140)";
                }

                var sol_text = document.getElementById("sol").innerHTML;
                if (sol_text == "Sell") {
                   document.getElementById("sol").style.color = "rgb(232, 14, 53)";
                } else if (sol_text == "Buy") {
                    document.getElementById("sol").style.color = "rgb(57, 238, 140)";
                }
            }
        </script>
    </head>
    <body onload="colorchange()">
        <div class="flex-column">
            <h1>{{ time }}</h1>
            <div class="flex-row">
                <div class="flex-box">
                    <h3>Bitcoin</h3>
                    <div class="flex-body">
                        <p>Price: {{ btc_price }}</p>
                        <p>RSI: {{ btc_rsi }}</p>
                        <p>Lower BB: {{ btc_lowerbb }}</p>
                        <p>Upper BB: {{ btc_upperbb }}</p>
                    </div>
                    <h2 id="btc">{{ btc }}</h2>
                </div>
                <div class="flex-box">
                    <h3>Ethereum</h3>
                    <div class="flex-body">
                        <p>Price: {{ eth_price }}</p>
                        <p>RSI: {{ eth_rsi }}</p>
                        <p>Lower BB: {{ eth_lowerbb }}</p>
                        <p>Upper BB: {{ eth_upperbb }}</p>
                    </div>
                    <h2 id="eth">{{ eth }}</h2>
                    <script>

                    </script>
                </div>
                <div class="flex-box">
                    <h3>Solana</h3>
                    <div class="flex-body">
                        <p>Price: {{ sol_price }}</p>
                        <p>RSI: {{ sol_rsi }}</p>
                        <p>Lower BB: {{ sol_lowerbb }}</p>
                        <p>Upper BB: {{ sol_upperbb }}</p>
                    </div>
                    <h2 id="sol">{{ sol }}</h2>
                    <script>

                    </script>
                </div>
            </div>
        </div>
    </body>
</html>